[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
flake8 = "*"
pytest = "*"
pyyaml = "*"
graphviz = "*"
rouge-score = "*"

[requires]
python_version = "3.8"
